<div class = "container">
<div class = "row feature">
<section class ="jumbotron">    
    <h2 class ="text-centre">Professional, Customised Solutions</h2>
    <p class ="text-muted headline-text"> Our highly experienced multi-skilled team of developers will work with you remotely or at your premises to deliver timely business solutions that address your business concerns.  </p>

</section>
</div>
</div>