body{
	background-color: #C1B7A7;

}
.navtop{
	padding-top: 0px !important;
}
.navbar {
	background-color: #fff;
	color: #2D7D67;
	border:0px;
}
.feature{
	height: 100%;	
}
.jumbotron{
	background-color: #f05a28;
}
.headline-text{
	text-align: center;
}
