body{
	background-color: #E6E3E4;

}
.navtop{
	padding-top: 0px !important;
}
.navbar {
	background:rgba(87,116,146, 0.3);
	color: #2D7D67;
	border:0px;
}
.navbar-default .navbar-nav > li > a{
	color: #000066;
	font-family: "Open Sans",sans-serif;
}
.feature{
	height: 100%;	
	background-image: image-url("manhand.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.jumbotron {
    position: relative;
    background-repeat: no-repeat;
    overflow: hidden;
    display:block;
    margin-left: auto;
    margin-right: auto;
    padding: 0px !important;
}
.myquote{
	position: absolute;
	left: 0px;
	bottom: 1em;
	width: 60%;
	padding: 1em;
	background: rgba(255, 255, 255, 0.7) none repeat scroll 0% 0%;
	color: #000;
	line-height: 1.9em;
	border: 0px none;
}
.headline-text{
	text-align: center;
}
.btn-primary{
	background-color: #96141A;
	border-radius: 20px;
}
.team-member{
   float: left;
	padding: 20px;
	text-align: center;
	font-size: 0.8em;
	border :1px solid #92818D;
	margin:20px;
	min-height: 200px;
}
.card{
	
}
#team{
	/*margin:10px;*/
}
.img-thumbnail{
	width: 100px;
    height: 100px;
    overflow: auto;
}
.teamcontainer{
	width: 100%;
}
.teamprofile{
	width: 100%;
	max-width: 1100px;
	margin: 0px auto;
	margin-top: 30px;
	position: relative;
	padding: 0px 20px;
}
.portfolio{
	margin-left:20px;
	margin-right: 20px;
	margin-top: 50px;
	padding:20px;
}
.project{
	border:1px solid #b3a9a6;
	border-radius: 20px;	
	padding: 20px;
	margin-top: 50px;
}
.section-heading{
	background:rgba(183,73,52, 0.5);
	border:1px;	
	border-radius: 0px 30px 30px 0;
	padding-top:5px;
	padding-bottom: 5px;
	
}
.section-margins{
	margin-top: 70px;
	margin-bottom: 70px;
}
/*Carousel*/
.slide1, .slide2, .slide3 {
    min-height: 560px;
    background-size: cover;
    background-position: center center;
}
.slide-text{
	background:rgba(183,73,52, 0.5);
	border:1px;
	padding: 20px;
	display: block;
	margin-bottom: auto;
	margin-top: auto;
	vertical-align: middle;
	border-radius: 20px;
}
/* Carousel Fade Effect */
/*.carousel.carousel-fade .item {
    -webkit-transition: opacity 1s linear;
    -moz-transition: opacity 1s linear;
    -ms-transition: opacity 1s linear;
    -o-transition: opacity 1s linear;
    transition: opacity 1s linear;
    opacity: .5;
}*/
.carousel.carousel-fade .active.item {
    opacity: 1;
}
.carousel.carousel-fade .active.left,
.carousel.carousel-fade .active.right {
    left: 0;
    z-index: 2;
    opacity: 0;
    filter: alpha(opacity=0);
}
.carousel-overlay {
    position: absolute;
    bottom: 100px;
    right: 0;
    left: 0;    
}
.form-control{
	border-radius: 20px;
}