
<div class ="container-fluid jumbotron feature">
<div id="bg-fade-carousel" class="row carousel slide carousel-fade" data-ride="carousel">

<section > 
<!-- Wrapper for slides -->
    <div class="carousel-inner">
    <%= render 'layouts/header'%>  
        <div class="item active">
            <div class="slide1"> 
                <section class ="col-lg-4 pull-right slide-text text-center">
                <!-- <h6 class ="text-uppercase text-left">Client testimonial..</h6> -->
                <blockquote>One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin.<br>He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections. The <cite>Multipay</cite> </blockquote>
                <%= link_to "Contact Us", root_path(anchor: "contact"),class:"page-scroll btn btn-primary btn-lg"%>
                </section>
            </div>
        </div>
        <div class="item">
            <div class="slide2">
                <section class ="col-lg-4 pull-right slide-text text-center">
                <!-- <h6 class ="text-uppercase text-left">Client testimonial..</h6> -->
                <blockquote>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.<br>Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.<br>
                A small river named Duden flows by their place and supplies it with the necessary <cite>Client X of YZ Corp</cite> </blockquote>
                <%= link_to "Contact Us", root_path(anchor: "contact"),class:"page-scroll btn btn-primary btn-lg"%>
                </section>
            </div>
        </div>
        <div class="item">
            <div class="slide3">
                <section class ="col-lg-4 pull-right slide-text text-center">
                <!-- <h6 class ="text-uppercase text-left">Client testimonial..</h6> -->
                <blockquote>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.<br>I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my  <cite>Client A of BC Corp</cite> </blockquote>
                <%= link_to "Contact Us", root_path(anchor: "contact"),class:"page-scroll btn btn-primary btn-lg"%>
                </section>
            </div>
        </div>
    </div><!-- .carousel-inner --> 
    <div class="container carousel-overlay text-center">
      
    </div>
</section>
</div>
</div><!-- .carousel --> 
<!--end bg-carousel-->