<section id ="portfolio" class ="section-margins">
    <div class="row">
        <div class ="col-lg-4 text-right section-heading"> <h4 class ="text-uppercase"><strong>Our Portfolio...</strong></h4></div>
    </div>
    <div class="row teamprofile ">
        <div class="col-lg-3 col-md-4 col-sm-6 project panel panel-default team-member">
                            <div class ="panel-heading">
                                <h4 class="media-heading panel-heading text-center panel-heading">LAS<br><small><i>Payment Switching</i></small></h4>
                            </div>
                            <div class ="panel"></div>
                            <div class="media">                                
                                <div class="media-body">                                    
                                    <p>Junior programmer, Analyst, VB.Net, ASP.Net, SQL Server, SQL, XML, Web Services, HTML, CSS, SSIS, SSAS</p>
                                </div>
                                <%= image_tag("avatorplace.png", alt: 'Missing Avatar', class: "media-object pull-left img-circle") %>
                                <!-- <a href="#" id ="mybtn" class="text-center">Read more...</a> -->
                                <a tabindex="0" class="text-center" role="button" data-toggle="popover" data-animation="true" data-placement="top" data-trigger="focus" title="LAS" data-content="We Really Love LAS and the quick brown fox jumps over the lazy dog. the little boy laughed, to see such fun and the dish ran away with the spoon" data-container="#portfolio">Read more...</a>
                            </div>      
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 project panel panel-default team-member">
                            <div class ="panel-heading">
                                <h4 class="media-heading panel-heading text-center panel-heading">LAM<br><small><i>Loan Management</i></small></h4>
                            </div>
                            <div class ="panel"></div>
                            <div class="media">                                
                                <div class="media-body">                                    
                                    <p>Junior programmer, Analyst, VB.Net, ASP.Net, SQL Server, SQL, XML, Web Services, HTML, CSS, SSIS, SSAS</p>
                                </div>
                                <%= image_tag("avatorplace.png", alt: 'Missing Avatar', class: "media-object pull-left img-circle") %>
                                <a href="#" id ="mybtn" class="text-center">Read more...</a>
                            </div>      
        </div>
         <div class="col-lg-3 col-md-4 col-sm-6 project panel panel-default team-member">
                            <div class ="panel-heading">
                                <h4 class="media-heading panel-heading text-center panel-heading">LAADS<br><small><i>Agent Monitoring</i></small></h4>
                            </div>
                            <div class ="panel"></div>
                            <div class="media">                                
                                <div class="media-body">                                    
                                    <p>Junior programmer, Analyst, VB.Net, ASP.Net, SQL Server, SQL, XML, Web Services, HTML, CSS, SSIS, SSAS</p>
                                </div>
                                <%= image_tag("avatorplace.png", alt: 'Missing Avatar', class: "media-object pull-left img-circle") %>
                                <a href="#" id ="mybtn" class="text-center">Read more...</a>
                            </div>      
        </div>
               
    <div id="myModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">LAS</h4>
                </div>
                <div class="modal-body">                    
                    <p>Project Details will go here</p>
                    <p class="text-warning"><small>If you don't save, your changes will be lost.</small></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>