<div class="row teamprofile">
                <div class="col-sm-3 col-xs-8 team-member">
                        <div class="media">
                            <%= image_tag("avatorplace.png", alt: 'Missing Avatar', class: "media-object pull-left img-thumbnail") %>
                            <div class="media-body">
                                <h4 class="media-heading">Brian Musanhu <br><small><i>Bsc Computer Science (UZ)</i></small></h4>
                                <p>Team Lead, developer, consultant, programmer, Analyst, VB.Net, ASP.Net, SQL Server, SQL, XML, Web Services, HTML, CSS, SSIS, SSAS.</p>
                            </div>
                        </div>                    
                </div>
                <div class="col-sm-3 col-xs-8 team-member">                    
                       <div class="media">
                            <%= image_tag("avatorplace.png", alt: 'Missing Avatar', class: "media-object pull-left img-thumbnail") %>
                            <div class="media-body">
                                <h4 class="media-heading">Ezekiel Chareka <br><small><i>B.Eng Technology (UCT)</i></small></h4>
                                <p>developer, consultant, programmer, Analyst, VB.Net, ASP.Net, SQL Server, SQL, XML, Web Services, HTML, CSS, SSIS, SSAS.</p>
                            </div>
                        </div>
                </div>
                <div class="col-sm-3 col-xs-8 team-member">
                        <div class="media">
                            <%= image_tag("avatorplace.png", alt: 'Missing Avatar', class: "media-object pull-left img-thumbnail") %>
                            <div class="media-body">
                                <h4 class="media-heading">Tawanda Marara<br><small><i>Bsc Computer Science (NUST)</i></small></h4>
                                <p>Junior programmer, Analyst, VB.Net, ASP.Net, SQL Server, SQL, XML, Web Services, HTML, CSS, SSIS, SSAS</p>
                            </div>
                        </div>
                </div>
</div>